.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.objective {
  width: 100%;

  &-item {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid var(--color-gray-200)
  }
}