@import "@/styles/common";
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-blue-900);
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
  max-width: 800px;
  padding: 40px 15px;
  margin: 0 25px;
  border-radius: 16px;
  @include shadow;

  @include media-from(md) {
    padding: 40px 60px;
  }

  &-inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }

  &-goToRegister {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-from(md) {
      flex-direction: row;
    }
  }
}

.header {
  @include sm-text;
  color: var(--color-gray-100);
  letter-spacing: 6px;
  @include media-from(md) {
    @include lg-text
  }
}

.buttonWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}