.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  grid-column: 1/2;
  grid-row: 2/3;
}

.header {
  display: flex;
  justify-content: space-between;
}

.pets {
  display: flex;
  gap: 20px;
  cursor: pointer;
  width: max-content;

  &-pet {
    border-radius: 50%;
    overflow: hidden;
    width: 100px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}