:root {
  //colors
  --color-white: #ffffff;
  --color-black: #000000;

  --color-red-100: #ea0502;
  --color-red-200: #a60503;

  --color-green-100: #0d9911;
  --color-green-200: #09620b;

  --color-yellow-100: #f7ef9a;
  --color-yellow-200: #ae7d30;

  --color-gray-100: #dbdddc;
  --color-gray-200: #a5a6a6;

  --color-blue-800: #283046;
  --color-blue-900: #161d31;
  --color-blue-900-opacity: rgba(22, 29, 49, .7);
}