@import "@/styles/common";
.wrapper {
  display: flex;
}

.content {
  width: 100%;
  min-height: 100vh;
  padding: 30px 20px 150px;
  background-color: var(--color-blue-900);

  @include media-from(md) {
    padding: 30px 70px;
  }
}

.childrenWrapper {
  overflow-y: auto;
}