@import "@/styles/common";
.wrapper {
  position: relative;
  margin: 35px 0;
}

.label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  letter-spacing: 1px;
  margin-left: 10px;
  transition: .3s;
  z-index: 0;
}

.input {
  width: 100%;
  padding: 15px 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid var(--color-blue-800);
  background-color: transparent;
  color: var(--color-white);
  transition: .4s;
  overflow-y: visible;
  @include family-montserrat;

  &:focus,
  &:valid{
    outline: none;
    background-color: var(--color-blue-900-opacity);

    ~ .label {
      top: 10%;
    }
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus, {
    box-shadow: 0 0 0px 1000px var(--color-blue-900) inset;
    -webkit-text-fill-color: var(--color-white);
  }
}

.error {
  position: absolute;
  margin-left: 5px;
  line-height: 1.4;
}