@import "@/styles/common";
.wrapper {
  //display: grid;
  //grid-template-columns: repeat(3, 1fr);
  //gap: 30px;
  //width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;

  @include media-from(md) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(2);
}