@mixin danger {
  background-color: var(--color-red-100);
  border: 2px solid var(--color-red-200);
  color: var(--color-white);

  &:hover {
    background-color: var(--color-red-200);
  }
}

@mixin success {
  background-color: var(--color-green-100);
  border: 2px solid var(--color-green-200);
  color: var(--color-white);

  &:hover {
    background-color: var(--color-green-200);
  }
}

@mixin base {
  background-color: var(--color-blue-700);
  border: 2px solid var(--color-blue-700);
  color: var(--color-white);
  transform: scale(.9);
  transition: .3s all;

  &:hover {
    box-shadow: 0 0 10px 2px var(--color-blue-700);
  }
}