@mixin black {
  color: var(--color-black);
}

@mixin white {
  color: var(--color-white);
}

@mixin gray {
  color: var(--color-gray-100);
}

@mixin yellow {
  color: var(--color-yellow-100);
}

@mixin red {
  color: var(--color-red-100);
}

@mixin green {
  color: var(--color-green-100);
}