@import "media";
//WEIGHT

@mixin thin {
  font-weight: 300;
}

@mixin normal {
  font-weight: 400;
}

@mixin semi-bold {
  font-weight: 500;
}

@mixin bold {
  font-weight: 600;
}

@mixin extra-bold {
  font-weight: 700;
}

//SIZE

@mixin xxs-text {
  font-size: 10px;
}

@mixin xs-text {
  font-size: 12px;
}

@mixin sm-text {
  font-size: 14px;
}

@mixin base-text {
  font-size: 16px;
}

@mixin md-text {
  font-size: 16px;
  @include media-from(md) {
    font-size: 20px;
  }
}

@mixin lg-text {
  font-size: 24px;
}

@mixin xl-text {
    font-size: 18px;
  @include media-from(md) {
    font-size: 32px;
  }
}

@mixin xxl-text {
  font-size: 32px;
  @include media-from(md) {
    font-size: 48px;
  }
}

@mixin family-montserrat {
  font-family: "Montserrat", sans-serif;
}

@mixin family-inter {
  font-family: "Inter", sans-serif;
}